/* set main container for parallax */
.main-container {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

/* set remaining text content container */
.mycontent{
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      font-size: 130%;
      color: #151515;
      line-height: 1.7;
      padding-right: 15px;
      padding-left: 15px;
}

body{
/*  background: #FFF8EC;*/
}

h1, h4{
   text-align: center;
   color: #284e36;
}

h1 {
  font-size: 300%;
  color: #284e36;
}

a{
  color: #284e36;
  background: none; 
}

a:hover{ 
  color: #284e36;
  background: none; 
}

img{
/*  border: 2px solid #729E70;*/
  vertical-align: middle;  
}

.right-just {
  text-align: right; 
  vertical-align: middle;  
}

.remove-border {
  border: none;
}

/* feather icons ---------------- */
.arrow {
  width: 100px;
  height: 100px;
  color: #284e36;
}

  .widget-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    .section-heading {
      font-size: 1.5em;
      margin: 20px 0 10px;
    }
    .flex-row {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .data-box {
      flex: 1 1 200px;
      background: #f9f9f9;
      
      color: #284e36;
      padding: 20px;
      border-radius: 12px;
      /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/
      border: 3px solid #284e36; /* Added border color and thickness */
    }
    .data-label {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .data-value {
      font-size: 5em;
      color: #284e36;
    }
